[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Riex"]
	path = Riex
	url = https://github.com/theeliteanalyst/riex
	shallow = true
	registered = true
